* {
    margin: 0;
    padding: 0;
    font-family: 'Atma', 'sans-serif';
}

body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

img {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    text-align: center;
    font-size: 1.3rem;
}

.recipe-text {
    width: 80%;
}

header {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}